header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #05213D;
}


.header__logo{

    margin-left: 19px;
}
.header__logo img{
    width: 67px;
    height: 66px;
}
.header__links a{
    font-family: "Roboto Mono";
    color: white;
    position:relative;
    transition: color 300ms ease-in-out;
    text-decoration: none;

}

.header__links a:hover{
    font-weight: bold;
}

.header__user img{
    width: 56px;
    height: 51px;
    position:relative;


}
footer{
    background-color: #05213D;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.copyright a{
    font-family: "Roboto Mono";
    color: white;
    margin-left: 19px;
   
}
